body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
}

#app {
    font-family: 'Roboto', sans-serif;
}

.bigger-text {
    font-size: 25px;
}

.aling-center {
    align-content: center;
}

#tempUnit {
    font-weight: bold;
    color: gold;
}