body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    background: rgb(10, 13, 68);
    color: white;
}

.bigger-text {
    font-size: 2em;
}

.text-bold {
    font-size: 1.2em;
    font-weight: 500;
}

#app {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

#tempUnit {
    cursor: pointer;
    font-weight: bold;
    color: rgb(228, 211, 117);
}


